@use "./base.scss";

// put your custom CSS here!
@font-face {
    font-family: "Alegreya";
    font-style: normal;
    font-weight: normal;
    font-display: swap;
    src: url("/static/fonts/LXGWWenKaiGBLite-Regular.woff2") format("woff2");
}

@font-face {
    font-family: "Alegreya";
    font-style: normal;
    font-weight: bold;
    font-display: swap;
    src: url("/static/fonts/LXGWZhenKaiGB-Regular.woff2") format("woff2");
}

@font-face {
    font-family: "Alegreya SC";
    font-style: normal;
    font-weight: normal;
    font-display: swap;
    src: url("/static/fonts/LXGWWenKaiGBLite-Regular.woff2") format("woff2");
}

@font-face {
    font-family: "Alegreya SC";
    font-style: normal;
    font-weight: bold;
    font-display: swap;
    src: url("/static/fonts/LXGWZhenKaiGB-Regular.woff2") format("woff2");
}

@font-face {
    font-family: "JetBrains Mono";
    font-style: normal;
    font-weight: normal;
    font-display: swap;
    src: url("/static/fonts/LXGWWenKaiMonoGBLite-Regular.woff2") format("woff2");
}

@font-face {
    font-family: "Alegreya";
    font-style: normal;
    font-weight: normal;
    font-display: swap;
    src: url("/static/fonts/Alegreya-Regular.woff2") format("woff2");
    unicode-range: U+00-7F;
}

@font-face {
    font-family: "Alegreya";
    font-style: italic;
    font-weight: normal;
    font-display: swap;
    src: url("/static/fonts/Alegreya-Italic.woff2") format("woff2");
    unicode-range: U+00-7F;
}

@font-face {
    font-family: "Alegreya";
    font-style: normal;
    font-weight: bold;
    font-display: swap;
    src: url("/static/fonts/Alegreya-Bold.woff2") format("woff2");
    unicode-range: U+00-7F;
}

@font-face {
    font-family: "Alegreya";
    font-style: italic;
    font-weight: bold;
    font-display: swap;
    src: url("/static/fonts/Alegreya-BoldItalic.woff2") format("woff2");
    unicode-range: U+00-7F;
}

@font-face {
    font-family: "Alegreya SC";
    font-style: normal;
    font-weight: normal;
    font-display: swap;
    src: url("/static/fonts/AlegreyaSC-Medium.woff2") format("woff2");
    unicode-range: U+00-7F;
}

@font-face {
    font-family: "Alegreya SC";
    font-style: italic;
    font-weight: normal;
    font-display: swap;
    src: url("/static/fonts/AlegreyaSC-MediumItalic.woff2") format("woff2");
    unicode-range: U+00-7F;
}

@font-face {
    font-family: "Alegreya SC";
    font-style: normal;
    font-weight: bold;
    font-display: swap;
    src: url("/static/fonts/AlegreyaSC-Bold.woff2") format("woff2");
    unicode-range: U+00-7F;
}

@font-face {
    font-family: "Alegreya SC";
    font-style: italic;
    font-weight: bold;
    font-display: swap;
    src: url("/static/fonts/AlegreyaSC-BoldItalic.woff2") format("woff2");
    unicode-range: U+00-7F;
}

@font-face {
    font-family: "JetBrains Mono";
    font-style: normal;
    font-weight: normal;
    font-display: swap;
    src: url("/static/fonts/JetBrainsMono-Regular.woff2") format("woff2");
    unicode-range: U+00-7F;
}

@font-face {
    font-family: "JetBrains Mono";
    font-style: italic;
    font-weight: normal;
    font-display: swap;
    src: url("/static/fonts/JetBrainsMono-Italic.woff2") format("woff2");
    unicode-range: U+00-7F;
}

html {
    font-size: 18px;
}

.table-container>table {
    margin: 0 auto !important;
    margin-left: 0 auto !important;
    margin-right: 0 auto !important;
}

img {
    display: block !important;
    margin-left: auto !important;
    margin-right: auto !important;
}

img[alt$="favicon"] {
    display: inline !important;
    height: 1rem;
    vertical-align: middle;
}